#left-sidebar {
  .wc-block-product-filters__overlay-content {
    gap: 0;

    .wp-block-heading {
      @extend .h1;
      margin-bottom: 30px !important;
    }

    & > div {
      padding: 20px 0;
      border-bottom: 1px solid #CED4DA;

      &:first-child {
        border-top: 1px solid #CED4DA;
      }

      h3.wp-block-heading {
        @extend .h5;
        margin: 0 !important;
        position: relative;
        cursor: pointer;

        &::after {
          content: '';
          width: 20px;
          height: 20px;
          position: absolute;
          display: block;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
          background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_194_3475' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_194_3475)'%3E%3Cpath d='M10.0002 12.5L5.8335 8.33334H14.1668L10.0002 12.5Z' fill='%231C1B1F'/%3E%3C/g%3E%3C/svg%3E%0A");
        }

        & ~ div {
          margin-top: 18px;
          display: none;
        }
      }
    }
  }
}

.products.products.columns-4 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: $spacer;
  row-gap: $spacer;
  margin: 0;
  padding: 0;
  list-style: none;

  &::before, &::after {
    display: none !important;
  }

  > li,
  > .product {
    float: none;
    margin: 0 !important;
    width: 100% !important;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  // Tablet i mniejsze: 2 kolumny
  // (używamy -down zgodnie z prośbą)
  @include media-breakpoint-down(md) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}


.woocommerce-result-count {
  margin: 0;

  @include media-breakpoint-down(md) {
    display: none;
  }
}

.woocommerce-ordering {
  margin: 0 !important;

  select {
    border: 0;
    padding: 6px 30px 6px 10px;
    box-shadow: unset;
  }
}

.btn-trigger-filters {
  background: transparent;
  border: 0;
}

.cat-wc-head-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}