.wc-block-components-main {

}

.wc-block-components-sidebar {

  .wp-block-woocommerce-cart-order-summary-block {
    .wp-block-woocommerce-cart-order-summary-coupon-form-block {
      .wc-block-components-panel__content {
        .wc-block-components-totals-coupon__content {
          .wc-block-components-totals-coupon__form {
            .wc-block-components-text-input {
              input {

              }
            }

            button {
              @extend .btn;
              @extend .btn-primary;
              min-height: unset;
            }

          }
        }
      }
    }
  }

  .wc-block-cart__submit {
    .wc-block-cart__submit-container {
      .wc-block-components-button {
        @extend .btn;
        @extend .btn-primary;
        min-height: unset;
      }
    }
  }
}

.wp-block-woocommerce-empty-cart-block {

  .wc-block-cart__empty-cart__title {
    &.with-empty-cart-icon {
      @extend .h6;

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='113' height='113' viewBox='0 0 113 113' fill='none'%3E%3Cpath d='M56.5 102.406C65.5794 102.406 74.4549 99.7139 82.0041 94.6697C89.5534 89.6254 95.4373 82.4558 98.9118 74.0676C102.386 65.6793 103.295 56.4491 101.524 47.5442C99.7529 38.6392 95.3807 30.4595 88.9606 24.0394C82.5405 17.6193 74.3608 13.2471 65.4559 11.4758C56.5509 9.70454 47.3207 10.6136 38.9324 14.0882C30.5442 17.5627 23.3746 23.4466 18.3303 30.9959C13.2861 38.5451 10.5938 47.4206 10.5938 56.5C10.6054 68.6716 15.4456 80.3412 24.0522 88.9478C32.6588 97.5544 44.3285 102.395 56.5 102.406ZM41.5098 42.1102C43.4519 42.1144 45.3132 42.8877 46.6864 44.2609C48.0597 45.6342 48.833 47.4955 48.8372 49.4375C48.8372 49.9058 48.6512 50.3549 48.32 50.686C47.9889 51.0171 47.5398 51.2031 47.0716 51.2031C46.6033 51.2031 46.1542 51.0171 45.8231 50.686C45.492 50.3549 45.3059 49.9058 45.3059 49.4375C45.3059 48.4307 44.906 47.4652 44.1941 46.7533C43.4822 46.0414 42.5166 45.6414 41.5098 45.6414C40.5031 45.6414 39.5375 46.0414 38.8256 46.7533C38.1137 47.4652 37.7138 48.4307 37.7138 49.4375C37.7138 49.9058 37.5277 50.3549 37.1966 50.686C36.8655 51.0171 36.4164 51.2031 35.9481 51.2031C35.4799 51.2031 35.0308 51.0171 34.6996 50.686C34.3685 50.3549 34.1825 49.9058 34.1825 49.4375C34.1837 47.4946 34.9561 45.6315 36.33 44.2576C37.7038 42.8837 39.5669 42.1114 41.5098 42.1102ZM77.0519 51.2031C76.584 51.2017 76.1358 51.0153 75.8049 50.6845C75.4741 50.3536 75.2876 49.9054 75.2862 49.4375C75.2862 48.939 75.1881 48.4454 74.9973 47.9848C74.8065 47.5243 74.5269 47.1058 74.1744 46.7533C73.8219 46.4008 73.4034 46.1212 72.9429 45.9304C72.4823 45.7396 71.9887 45.6414 71.4902 45.6414C70.9916 45.6414 70.498 45.7396 70.0375 45.9304C69.5769 46.1212 69.1584 46.4008 68.8059 46.7533C68.4534 47.1058 68.1738 47.5243 67.983 47.9848C67.7923 48.4454 67.6941 48.939 67.6941 49.4375C67.6941 49.9058 67.508 50.3549 67.1769 50.686C66.8458 51.0171 66.3967 51.2031 65.9284 51.2031C65.4602 51.2031 65.0111 51.0171 64.68 50.686C64.3488 50.3549 64.1628 49.9058 64.1628 49.4375C64.1628 48.4753 64.3523 47.5225 64.7206 46.6335C65.0888 45.7445 65.6285 44.9367 66.3089 44.2563C66.9893 43.5759 67.7971 43.0362 68.6861 42.6679C69.5751 42.2997 70.5279 42.1102 71.4902 42.1102C72.4524 42.1102 73.4052 42.2997 74.2942 42.6679C75.1832 43.0362 75.991 43.5759 76.6714 44.2563C77.3518 44.9367 77.8915 45.7445 78.2597 46.6335C78.628 47.5225 78.8175 48.4753 78.8175 49.4375C78.8161 49.9054 78.6296 50.3536 78.2988 50.6845C77.968 51.0153 77.5197 51.2017 77.0519 51.2031ZM75.8512 73.2911C76.1358 73.6611 76.262 74.129 76.202 74.5919C76.1421 75.0548 75.9009 75.475 75.5314 75.7603C75.1619 76.0456 74.6943 76.1727 74.2313 76.1136C73.7682 76.0545 73.3476 75.8141 73.0616 75.4452C71.0735 72.9888 68.5521 71.0174 65.6887 69.6805C62.8252 68.3436 59.695 67.6764 56.5353 67.7294C53.3576 67.678 50.2105 68.3564 47.3362 69.7124C44.4619 71.0684 41.9371 73.0659 39.9561 75.5511C39.7895 75.7669 39.5754 75.9412 39.3304 76.0607C39.0854 76.1801 38.8161 76.2414 38.5436 76.2397C38.1608 76.2446 37.7875 76.1202 37.4842 75.8866C37.2986 75.7473 37.1425 75.5725 37.025 75.3724C36.9074 75.1722 36.8309 74.9508 36.7996 74.7208C36.7684 74.4908 36.7832 74.2569 36.8432 74.0327C36.9031 73.8085 37.007 73.5984 37.1488 73.4147C39.4584 70.4962 42.4076 68.1473 45.769 66.5493C49.1303 64.9512 52.8138 64.1469 56.5353 64.1981C60.2337 64.1499 63.8946 64.9435 67.2411 66.5188C70.5875 68.0942 73.5318 70.41 75.8512 73.2911Z' fill='black'/%3E%3C/svg%3E");
        background-position: center center;
        background-repeat: no-repeat;
        width: 113px;
        height: 113px;
        mask: unset !important;
        background-color: transparent;
      }
    }


  }


  .wp-block-separator {
    & ~ h2 {
      &.wp-block-heading {
        text-align: left !important;
        margin-bottom: 30px;

        @extend .h1;
      }
    }
  }
}