.widget_shopping_cart_content {

  .woocommerce-mini-cart {
    .woocommerce-mini-cart-item {
      img {
        margin-left: 0;
        width: 60px;
      }

      .remove {
        position: absolute;
        top: 7px;
        right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .woocommerce-mini-cart__total {
    padding: 5px 4px;
    margin: 0;
  }

  .woocommerce-mini-cart__buttons {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 0;
    padding: 0 4px;

    & > a {
      flex: 1 1 100%;
    }
  }
}

#miniCartOffcanvas {
  .widget_shopping_cart_content {
    height: 100%;
    display: flex;
    flex-direction: column;

    .woocommerce-mini-cart {
      flex: 1;
    }
  }
}