h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}

.display-1 {
  font-size: $display1-size;
  font-weight: $display-font-weight;
  line-height: $display-line-height;
  color: $headings-color;
}

.display-2 {
  font-size: $display2-size;
  font-weight: $display-font-weight;
  line-height: $display-line-height;
  color: $headings-color;
}

.display-3 {
  font-size: $display3-size;
  font-weight: $display-font-weight;
  line-height: $display-line-height;
  color: $headings-color;
}

.display-4 {
  font-size: $display4-size;
  font-weight: $display-font-weight;
  line-height: $display-line-height;
  color: $headings-color;
}
